 - binary_sensor:
      - name: Presence Ground Floor
        icon: mdi:numeric-0-box
        delay_off: "00:20:00"  # Rather long, because lights turn off based on this
        state: >
          {{ is_state("binary_sensor.entertainment_in_use", "on") or
             is_state("binary_sensor.motion_hall_0_occupancy", "on") or
             is_state("binary_sensor.motion_toilet_occupancy", "on") or
             is_state("binary_sensor.motion_stairs_0_occupancy", "on") or
             is_state("binary_sensor.motion_dining_occupancy", "on") or
             is_state("binary_sensor.motion_living_occupancy", "on") or
             is_state("binary_sensor.motion_kitchen_occupancy", "on")
          }}
        # The state template above included the following:
        # is_state("binary_sensor.door_living_stair_cabinet_contact", "on")
        # But that caused presence to never clear if we leave the cabinet door open.
        #
        # Removed it for now, because we have enough motion sensors in that area.
        # But would be nice to figure out a way to include recent toggles for when we add outside doors/fence.

      - name: Presence First Floor
        icon: mdi:numeric-1-box
        delay_off: "00:15:00"
        state: >
          {{ is_state("binary_sensor.motion_stairs_0_occupancy", "on") or
             is_state("binary_sensor.motion_stairs_1_occupancy", "on") or
             is_state("binary_sensor.motion_bathroom_door_occupancy", "on") or
             is_state("binary_sensor.motion_bathroom_shower_occupancy", "on")
          }}

      - name: Presence Second Floor
        icon: mdi:numeric-2-box
        delay_off: "00:05:00"
        state: >
          {{ is_state("binary_sensor.workstation_in_use", "on") or
             is_state("binary_sensor.motion_stairs_1_occupancy", "on")
          }}

      - name: Presence House
        icon: mdi:home-account
        state: >
          {{ is_state("person.jori", "home") or
             is_state("person.chantal", "home") or
             is_state("binary_sensor.presence_ground_floor", "on") or
             is_state("binary_sensor.presence_first_floor", "on") or
             is_state("binary_sensor.presence_second_floor", "on")
          }}
