 # Footgun: Typos in entity ids are silently ignored.
 # So these are not caught at test time, nor do they result in error in the logs.
 # Maybe change this to input_booleans + automations to set/unset in combination with a timer.

- triggers:
  - trigger: state
    entity_id: binary_sensor.door_front_contact
    to: "on"
  binary_sensor:
    name: Door Front Contact Recent
    state: "on"
    auto_off:
      minutes: 1

- triggers:
  - trigger: state
    entity_id: binary_sensor.door_back_contact
    to: "on"
  binary_sensor:
    name: Door Back Contact Recent
    state: "on"
    auto_off:
      minutes: 1

- triggers:
  - trigger: state
    entity_id: binary_sensor.door_living_stair_cabinet_contact
    to: "on"
  binary_sensor:
    name: Door Living Stair Cabinet Contact Recent
    state: "on"
    auto_off:
      minutes: 1

# Helpers to make the presence house sensor only have to deal with bools
- triggers:
  - trigger: state
    entity_id: person.jori
  binary_sensor:
  - name: Jori Home
    state: "{{ is_state(trigger.entity_id, 'home') }}"

- triggers:
  - trigger: state
    entity_id: person.chantal
  binary_sensor:
  - name: Chantal Home
    state: "{{ is_state(trigger.entity_id, 'home') }}"

- binary_sensor:
  - name: Presence Ground Floor
    icon: mdi:numeric-0-box
    delay_off: "00:20:00"  # Rather long, because lights turn off based on this
    state: >
      {{ expand([
          "binary_sensor.entertainment_in_use",
          "binary_sensor.door_front_contact_recent",
          "binary_sensor.door_back_contact_recent",
          "binary_sensor.door_living_stair_cabinet_contact_recent",
          "binary_sensor.motion_garden_occupancy",
          "binary_sensor.motion_hall_0_occupancy",
          "binary_sensor.motion_stairs_0_occupancy",
          "binary_sensor.motion_dining_occupancy",
          "binary_sensor.motion_living_occupancy",
          "binary_sensor.motion_kitchen_occupancy",
          "binary_sensor.presence_toilet_occupancy"
          ]) | selectattr("state", "eq", "on") | list | count > 0
      }}

  - name: Presence First Floor
    icon: mdi:numeric-1-box
    delay_off: "00:15:00"
    state: >
      {{ expand([
          "binary_sensor.motion_stairs_0_occupancy",
          "binary_sensor.motion_stairs_1_occupancy",
          ]) | selectattr("state","eq","on") | list | count > 0
      }}

  - name: Presence Second Floor
    icon: mdi:numeric-2-box
    delay_off: "00:05:00"
    state: >
      {{ expand([
          "binary_sensor.workstation_in_use",
          "binary_sensor.motion_stairs_1_occupancy"
          ]) | selectattr("state", "eq", "on") | list | count > 0
      }}

  - name: Presence House
    icon: mdi:home-account
    state: >
      {{ expand([
        "binary_sensor.jori_home",
        "binary_sensor.chantal_home",
        "binary_sensor.presence_ground_floor",
        "binary_sensor.presence_first_floor",
        "binary_sensor.presence_second_floor",
        ]) | selectattr("state", "eq", "on") | list | count > 0
      }}
