# This thermostat is not turned on by any automation, but just in case someone turned it on manually,
# disable it for the night.
- alias: Heating Bedroom JC off
  id: heating-bedroom-jc-off
  trigger:
    - platform: time
      at: "21:00:00"
  condition:
    # Avoid setting it if manually set lower already, or if unchanged
    - condition: numeric_state
      entity_id: &climate_entity climate.bedroom_jc
      attribute: temperature
      above: &target_night_temp 15  # RIVM advice to prevent condensation
  action:
    - service: climate.set_temperature
      data:
        temperature: *target_night_temp
      target:
        entity_id: *climate_entity
  mode: restart
