- alias: Heating living scheduled on
  id: heating-living-scheduled-on
  trigger:
    - platform: time
      at: &turn_on_time "06:00:00"
  condition:
    - condition: state
      entity_id: binary_sensor.presence_house
      state: "on"
  action:
    - service: climate.set_temperature
      data:
        temperature: &target_day_temp 20
      target:
        entity_id: &climate_entity climate.living
  mode: restart

- alias: Heating living off
  id: heating-living-off
  trigger:
    - platform: time
      at: &turn_off_time "21:00:00"
    - platform: state
      entity_id: binary_sensor.presence_house
      to: "off"
  condition:
    # Avoid setting it if manually set lower already (e.g. during holidays)
    - condition: numeric_state
      entity_id: climate.living
      attribute: temperature
      # Need to keep this relatively high due to slow floor heating with 30℃ water.
      # If set to 18.0℃, when freezing outside, it takes the entire day to heat up.
      above: &target_night_temp 19
  action:
    - service: climate.set_temperature
      data:
        temperature: *target_night_temp
      target:
        entity_id: *climate_entity
  mode: restart

- alias: Heating living on when someone comes home
  id: heating-living-on-when-someone-comes-home
  trigger:
    - platform: state
      entity_id: binary_sensor.presence_house
      to: "on"
  condition:
    - condition: time
      after: *turn_on_time
      before: *turn_off_time
  action:
    - service: climate.set_temperature
      data:
        temperature: *target_day_temp
      target:
        entity_id: *climate_entity
  mode: restart
