- alias: Motion-activated Light Kitchen Middle
  id: mal-kitchen-middle
  use_blueprint:
    path: custom/light_motion_activated_dark_aware_script.yaml
    input:
      motion_entity: binary_sensor.motion_kitchen_occupancy
      device_no_motion_wait: number.motion_kitchen_detection_interval
      total_no_motion_wait: 600
      light_entity_id: light.light_group_kitchen_middle
      adaptive_light_entity: switch.adaptive_lighting_kitchen_middle
      adaptive_light_adapt_brightness_entity: switch.adaptive_lighting_adapt_brightness_kitchen_middle
      dim_script: script.turn_on_light_kitchen_middle_dimmed

- alias: Motion-activated Light Kitchen Countertop
  id: mal-kitchen-countertop
  use_blueprint:
    path: custom/light_motion_activated_dark_aware_script.yaml
    input:
      motion_entity: binary_sensor.motion_kitchen_occupancy
      device_no_motion_wait: number.motion_kitchen_detection_interval
      total_no_motion_wait: 600
      light_entity_id: light.light_group_kitchen_countertop
      adaptive_light_entity: switch.adaptive_lighting_kitchen_countertop
      adaptive_light_adapt_brightness_entity: switch.adaptive_lighting_adapt_brightness_kitchen_countertop
      dim_script: script.turn_on_light_kitchen_countertop_dimmed

- alias: Light kitchen on to dimmmed state
  id: light-kitchen-on-to-dimmed
  trigger:
    - platform: state
      entity_id:
        - binary_sensor.sufficiently_dark_for_indoor_lights
        - binary_sensor.presence_ground_floor
      to: "on"
  condition:
    - condition: state
      entity_id:
        - binary_sensor.sufficiently_dark_for_indoor_lights
        - binary_sensor.presence_ground_floor
      state: "on"
    - alias: "Only turn on if currently off"
      condition: state
      entity_id: &kitchen_lights
        - light.light_group_kitchen_middle
        - light.light_group_kitchen_countertop
      state: "off"
  action:
    # There's one exception where we don't want dimmed state: if sleep mode is enabled
    choose:
      - conditions:
          - condition: state
            # The input boolean is probably sufficient, but in theory it's also possible to toggle sleep mode for just
            # the kitchen lights. Let's see how this goes first.
            entity_id: input_boolean.sleep_mode
            state: "on"
        sequence:
          - service: "light.turn_on"
            target:
              entity_id: *kitchen_lights
    default:
      # Potential improvement: transition is 5 sec, use 1 sec to sync with rest of living.
      - action: script.turn_on_light_kitchen_middle_dimmed
      - action: script.turn_on_light_kitchen_countertop_dimmed
  mode: restart

- alias: Light kitchen off when in dimmed state
  id: light-kitchen-off-when-in-dimmed-state
  description: >
    Turn off kitchen lights when no presence detected anymore, or it becomes sufficiently bright.

    The goal is to turn off lights that are in dimmed state, when that is no longer needed.
    Dimmed state assumed when lights are on but there is no motion-activated automation running.
  trigger:
    - platform: state
      entity_id:
        - binary_sensor.sufficiently_dark_for_indoor_lights
        - binary_sensor.presence_ground_floor
      to: "off"
  condition:
    - condition: or
      conditions:
        - condition: state
          entity_id: light.light_group_kitchen_middle
          state: "on"
        - condition: state
          entity_id: light.light_group_kitchen_countertop
          state: "on"
    - alias: "Ensure automation for middle not running (i.e. no motion detected)"
      condition: state
      entity_id: automation.motion_activated_light_kitchen_middle
      attribute: current
      state: 0
    - alias: "Ensure automation for countertop not running (i.e. no motion detected)"
      condition: state
      entity_id: automation.motion_activated_light_kitchen_countertop
      attribute: current
      state: 0
  action:
    - service: "light.turn_off"
      data:
        transition: 10
      target:
        entity_id: *kitchen_lights
    - service: "switch.turn_on"
      target:
        entity_id:
          - switch.adaptive_lighting_adapt_brightness_kitchen_middle
          - switch.adaptive_lighting_adapt_brightness_kitchen_countertop
  mode: restart
