- alias: Motion-activated Light Bathroom
  id: mal-bathroom
  use_blueprint:
    path: custom/light_motion_activated_dark_aware_script.yaml
    input:
      motion_entity: binary_sensor.motion_bathroom_occupancy
      device_no_motion_wait: number.motion_bathroom_detection_door_interval
      # Ideally the motion sensors have value for total_no_motion_wait set as occupancy_timeout on-device via Z2M,
      # otherwise after dimming and standing still for a bit, they will go back to their default value as defined by
      # adaptive lighting.
      # (This does not really affect other motion-activated lights because they are usually not dimmed manually.)
      total_no_motion_wait: 300
      light_entity_id: light.light_bathroom
      adaptive_light_entity: switch.adaptive_lighting_bathroom
      adaptive_light_adapt_brightness_entity: switch.adaptive_lighting_adapt_brightness_bathroom
      dim_script: script.turn_on_light_bathroom_dimmed

- alias: Light bathroom on to dimmed state
  id: light-bathroon-on-to-dimmed
  trigger:
    - platform: state
      entity_id: binary_sensor.presence_first_floor
      to: "on"
  condition:
    - alias: "Only turn on if currently off"
      condition: state
      entity_id: light.light_bathroom
      state: "off"
  action:
    - action: script.turn_on_light_bathroom_dimmed

- alias: "Presence activated light bathroom: off"
  description: >
    Turn off the bathroom lights when no presence is detected on the first floor.

    This does not necessarily mean that the first floor is empty, it could simply be that everyone is in their bedroom.
    (There are no presence sensors in the bedrooms).

    This automation is needed because the motion sensor in the bathroom goes into dimmed state after dark.
    So there should be some mechanism to turn it off eventually.
  id: presence-activated-light-bathroom-off
  trigger:
    - platform: state
      entity_id: binary_sensor.presence_first_floor
      to: "off"
      # This binary_sensor has a rather long delay_off, so we can safely toggle directly on a state change.
  action:
    - service: "light.turn_off"
      data:
        transition: 10
      target:
        # Turn off the motion-activated lights manually, in case they were in dimmed state:
        entity_id:
          - light.light_bathroom
  mode: restart
