- alias: Presence activated light living white cabinet
  id: presence-activated-light-living-white-cabinet
  trigger:
    - platform: state
      entity_id: binary_sensor.presence_ground_floor
      to:
        - "on"
        - "off"
  action:
    - service: "light.turn_{{ trigger.to_state.state }}"
      target:
        entity_id: light.light_living_white_cabinet
      data:
        # Transition seems buggy
        transition: 0
  mode: restart

- alias: "Presence activated light living: on"
  id: presence-activated-light-living-on
  trigger:
    - platform: state
      entity_id: binary_sensor.presence_ground_floor
      to: "on"
  action:
    - service: "light.turn_on"
      data:
        transition: 1
      target:
        entity_id:
          - light.light_dining_table
          - light.light_group_living_spot_always
    - choose:
        - conditions:
            - condition: state
              entity_id: binary_sensor.sufficiently_dark_for_indoor_lights
              state: "on"
          sequence:
            - service: "light.turn_on"
              data:
                transition: 1
              target:
                entity_id:
                  - light.light_group_living_spot_dark_outside
  mode: restart

- alias: "Presence activated light living: off"
  id: presence-activated-light-living-off
  trigger:
    - platform: state
      entity_id: binary_sensor.presence_ground_floor
      to: "off"
      # The presence sensor has a rather long delay_off, so we can safely toggle directly on a state change.
  action:
    - service: "light.turn_off"
      data:
        transition: 10
      target:
        # Turn off the motion-activated lights manually, in case they were in dimmed state:
        entity_id:
          - light.light_hall_0_wall
          - light.light_group_hall_0_spot
          - light.light_toilet
    # Splitting the lights with a short delay to prevent flooding the Zigbee network:
    - delay: "00:00:02"
    - service: "light.turn_off"
      data:
        transition: 8
      target:
        entity_id:
          - light.light_group_living_spot_always
          - light.light_group_living_spot_dark_outside
          - light.light_dining_table
          - light.light_go
  mode: restart

- alias: Light dark transition living
  id: light-dark-transition-living
  trigger:
    - platform: state
      entity_id: binary_sensor.sufficiently_dark_for_indoor_lights
      to:
        - "on"
        - "off"
  condition:
    - condition: state
      entity_id: binary_sensor.presence_ground_floor
      state: "on"
  action:
    - service: "light.turn_{{ trigger.to_state.state }}"
      target:
        entity_id: light.light_group_living_spot_dark_outside
  mode: restart

- alias: Light Disco Living Wall Left 1
  id: light-disco-living-wall-left-1
  use_blueprint:
    path: custom/light_disco_single.yaml
    input:
      light_entity: light.light_living_wall_left_1
      input_boolean_disco: input_boolean.disco_living

- alias: Light Disco Living Wall Left 2
  id: light-disco-living-wall-left-2
  use_blueprint:
    path: custom/light_disco_single.yaml
    input:
      light_entity: light.light_living_wall_left_2
      input_boolean_disco: input_boolean.disco_living

- alias: Light Disco Living Wall Left 3
  id: light-disco-living-wall-left-3
  use_blueprint:
    path: custom/light_disco_single.yaml
    input:
      light_entity: light.light_living_wall_left_3
      input_boolean_disco: input_boolean.disco_living

- alias: Light Disco Living White Cabinet
  id: light-disco-living-white-cabinet
  use_blueprint:
    path: custom/light_disco_single.yaml
    input:
      light_entity: light.light_living_white_cabinet
      input_boolean_disco: input_boolean.disco_living

- alias: Light Disco Living Off
  id: light-disco-living-off
  trigger:
    - platform: state
      entity_id:
        - light.light_living_wall_left_1
        - light.light_living_wall_left_2
        - light.light_living_wall_left_3
        - light.light_living_white_cabinet
      to: "off"
  action:
    - service: input_boolean.turn_off
      target:
        entity_id: input_boolean.disco_living
  mode: restart
