- alias: Turn on outdoor christmas lights
  id: turn-on-outdoor-christmas-lights
  trigger:
    - platform: state
      entity_id: binary_sensor.sufficiently_dark_for_outdoor_lights
      to: "on"
    - platform: time
      at: "06:00:00"
  action:
    - service: switch.turn_on
      target:
        entity_id: switch.plug_outdoor_christmas_lights
    # Add a delay to prevent flip floppping if the lux value is close to threshold.
    # This may happen when e.g. walking by the sesnor around sunset, it gets momentarily darker, so the lights turn on,
    # and a bit later they turn off again.
    - delay:
        minutes: 30
  mode: single
  max_exceeded: silent

- alias: Turn off outdoor christmas lights
  id: turn-off-outdor-christmas-lights
  trigger:
    - platform: state
      entity_id: binary_sensor.sufficiently_dark_for_outdoor_lights
      to: "off"
    - platform: time
      at: "00:00:00"
  action:
    - service: switch.turn_off
      target:
        entity_id: switch.plug_outdoor_christmas_lights
    - delay:
        minutes: 30
  mode: single
  max_exceeded: silent
