- alias: "Sleep mode: toggle"
  id: "sleep-mode-toggle"
  trigger:
    - platform: state
      entity_id: input_boolean.sleep_mode
    - platform: homeassistant
      event: start  # in case the states aren't properly restored
  variables:
    sleep_mode: "{{ states('input_boolean.sleep_mode') }}"
  action:
    - service: "switch.turn_{{ sleep_mode }}"
      entity_id:
        - switch.adaptive_lighting_sleep_mode_bathroom
        - switch.adaptive_lighting_sleep_mode_hall_0_spot
        - switch.adaptive_lighting_sleep_mode_hall_0_wall
    # Use some delays to prevent flooding the Zigbee network
    - delay: "00:00:01"
    - service: "switch.turn_{{ sleep_mode }}"
      entity_id:
        - switch.adaptive_lighting_sleep_mode_living_spot_always
        - switch.adaptive_lighting_sleep_mode_living_spot_dark_outside
        - switch.adaptive_lighting_sleep_mode_living_white_cabinet
        - switch.adaptive_lighting_sleep_mode_dining_table
    - delay: "00:00:01"
    - service: "switch.turn_{{ sleep_mode }}"
      entity_id:
        - switch.adaptive_lighting_sleep_mode_kitchen_middle
        - switch.adaptive_lighting_sleep_mode_kitchen_countertop
        - switch.adaptive_lighting_sleep_mode_toilet
        - switch.adaptive_lighting_sleep_mode_stair_cabinet
  mode: restart

- alias: "Sleep mode: scheduled on"
  id: sleep-mode-scheduled-on
  trigger:
  - platform: time
    at: "23:00:00"
  action:
    - wait_template: '{{ is_state("binary_sensor.presence_ground_floor", "off") }}'
    # if someone is in the bathroom, don't put them in the dark:
    - wait_template: '{{ states("light.light_bathroom") != "on" }}'
      timeout: '00:30:00'  # it can't take longer than this, right?
    - service: input_boolean.turn_on
      target:
        entity_id: input_boolean.sleep_mode
  mode: restart

- alias: "Sleep mode: scheduled off"
  id: sleep-mode-scheduled-off
  trigger:
  - platform: time
    at: "07:00:00"
  action:
    - service: input_boolean.turn_off
      target:
        entity_id: input_boolean.sleep_mode
  mode: restart

- alias: "Sleep mode kids: toggle"
  id: "sleep-mode-kids-toggle"
  trigger:
    - platform: state
      entity_id: input_boolean.sleep_mode_kids
    - platform: homeassistant
      event: start  # in case the states aren't properly restored
  variables:
    sleep_mode: "{{ states('input_boolean.sleep_mode_kids') }}"
  action:
    - service: "switch.turn_{{ sleep_mode }}"
      entity_id:
        - switch.adaptive_lighting_sleep_mode_bedroom_duco_ambiance
        - switch.adaptive_lighting_sleep_mode_bedroom_duco_color
        - switch.adaptive_lighting_sleep_mode_bedroom_olivier_ambiance
        - switch.adaptive_lighting_sleep_mode_bedroom_olivier_color
  mode: restart

- alias: "Sleep mode kids: scheduled on"
  id: sleep-mode-kids-scheduled-on
  trigger:
  - platform: time
    at: "21:00:00"
  action:
    - service: input_boolean.turn_on
      target:
        entity_id: input_boolean.sleep_mode_kids
  mode: restart

- alias: "Sleep mode kids: scheduled off"
  id: sleep-mode-kids-scheduled-off
  trigger:
  - platform: time
    at: "06:30:00"
  action:
    - service: input_boolean.turn_off
      target:
        entity_id: input_boolean.sleep_mode_kids
  mode: restart
